aiohttp==3.7.3
altgraph==0.17.2
APScheduler==3.6.3
astroid==2.5.3
async-timeout==3.0.1
attrs==20.3.0
auto-py-to-exe==2.10.0
autopep8==1.5.7
backcall==0.2.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.6
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
idna==2.10
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
multidict==5.1.0
numpy==1.20.3
parso==0.8.2
pdfminer.six==20201018
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==3.0.18
psycopg2==2.8.6
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.8.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.7.4
pyTelegramBotAPI==4.1.0
python-dateutil==2.8.1
python-telegram-bot==13.7
pytz==2021.3
pywin32-ctypes==0.2.0
pyzmq==22.0.3
requests==2.25.1
selenium==3.141.0
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.2.1
telegram==0.0.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
tzdata==2021.2.post0
tzlocal==3.0
urllib3==1.26.2
wcwidth==0.2.5
whichcraft==0.6.1
wrapt==1.12.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
